<HTML>
<HEAD>
<TITLE>Yan's AI playground</TITLE>
</HEAD>
<SCRIPT LANGUAGE="JavaScript">
<!--
function chkacc(){
        strChr = 'http://47.101.152.193/GuessYourPreference/';
	if(document.getElementById("weather").value=='Very bad'){
		strChr = strChr + '0';
	}else if(document.getElementById("weather").value=='Poor'){
                strChr = strChr + '1';
        }else if(document.getElementById("weather").value=='Not bad'){
                strChr = strChr + '2';
        }else if(document.getElementById("weather").value=='Pretty good'){
                strChr = strChr + '3';
        }

        if(document.getElementById("tired").value=='Very tired'){
                strChr = strChr + '0';
        }else if(document.getElementById("tired").value=='A little tired'){
                strChr = strChr + '1';
        }else if(document.getElementById("tired").value=='Not tired'){
                strChr = strChr + '2';
        }else if(document.getElementById("tired").value=='Very relaxed'){
                strChr = strChr + '3';
        }

        if(document.getElementById("weekday").value=='Monday'){
                strChr = strChr + '0';
        }else if(document.getElementById("weekday").value=='Tuesday'){
                strChr = strChr + '1';
        }else if(document.getElementById("weekday").value=='Wednesday'){
                strChr = strChr + '2';
        }else if(document.getElementById("weekday").value=='Thursday'){
                strChr = strChr + '3';
        }else if(document.getElementById("weekday").value=='Friday'){
                strChr = strChr + '4';
        }else if(document.getElementById("weekday").value=='Saturday'){
                strChr = strChr + '5';
        }else if(document.getElementById("weekday").value=='Sunday'){
                strChr = strChr + '6';
        }
        
        
        if(document.getElementById("taste").value=='Poor taste'){
                strChr = strChr + '0';
        }else if(document.getElementById("taste").value=='Just so so'){
                strChr = strChr + '1';
        }else if(document.getElementById("taste").value=='Not bad'){
                strChr = strChr + '2';
        }else if(document.getElementById("taste").value=='Delicious'){
                strChr = strChr + '3';
        }


        if(document.getElementById("price").value=='Cheap'){
                strChr = strChr + '0';
        }else if(document.getElementById("price").value=='Okay'){
                strChr = strChr + '1';
        }else if(document.getElementById("price").value=='A Little Expensive'){
                strChr = strChr + '2';
        }else if(document.getElementById("price").value=='Very Expensive'){
                strChr = strChr + '3';
        }
 
        if(document.getElementById("distance").value=='Far away'){
                strChr = strChr + '0';
        }else if(document.getElementById("distance").value=='A little far away'){
                strChr = strChr + '1';
        }else if(document.getElementById("distance").value=='Not too far'){
                strChr = strChr + '2';
        }else if(document.getElementById("distance").value=='Close'){
                strChr = strChr + '3';
        }

        
        window.location.href=strChr; 
}
//-->
</SCRIPT>
<BODY>
<div id="1">This is a simple AI demo</div>
<p>
</p>
<div id="2">please choose conditions for one restaurant</div>
<div id="3">AI will guess your preference to this restaurant</div>

<p></p>
    <img src="{{ url_for('static', filename= './images/robot.gif',_t=val1) }}" width="200" height="200" alt="our picture was hijacked by aliens."/>
<FORM METHOD=POST ACTION="" name="frm1">
<div class="select_style">
  What's the weather like？
  <select id="weather" name="天气">
    <optgroup label="天气">   
    <option>Very bad</option> 
    <option selected>Poor</option> 
    <option>Not bad</option> 
    <option>Pretty good</option> 
  </select> 
</div>
<div class="select_style">
  Are you tired？:
  <select id="tired" name="疲劳程度">
    <optgroup label="疲劳程度">
    <option>Very tired</option>
    <option selected>A little tired</option>
    <option>Not tired</option>
    <option>Very relaxed</option>
  </select>
</div>

<div class="select_style">
  What day is today? 
  <select id="weekday" name="周几">
    <optgroup label="周几">
    <option selected>Monday</option>
    <option>Tuesday</option>
    <option>Wednesday</option>
    <option>Thursday</option>
    <option>Friday</option>
    <option>Saturday</option>
    <option>Sunday</option>
  </select>
</div>

 
<div class="select_style">
  What's the taste of this restaurant? 
  <select id="taste" name="口味">
    <optgroup label="口味">
    <option>Poor taste</option>
    <option selected>Just so so</option>
    <option>Not bad</option>
    <option>Delicious</option>
  </select>
</div>

<div class="select_style"> 
  What's the price of the food？
  <select id="price" name="菜价">
    <optgroup label="菜价">
    <option>Cheap</option>
    <option selected>Okay</option>
    <option>A Little Expensive</option>
    <option>Very Expensive</option>
  </select>
</div>

<div class="select_style">
  Is this shop far from the company?
  <select id="distance" name="距离">
    <optgroup label="距离">
    <option>Far away</option>
    <option selected>A little far away</option>
    <option>Not too far</option>
    <option>Close</option>
  </select>
</div>

<INPUT TYPE="button" value="提交" onclick="chkacc();">
</FORM>
</BODY>
</HTML>
