<HTML>
<HEAD>
<TITLE>Yan's personal Website</TITLE>
<STYLE>
.div-inline{display:inline}
body{
		height:1000px;
	}
	header{
		width:100%;
		background:#33FFCC;
		height:10%
	}
	aside{
		width:15%;
		background:#00CCFF;
		height:80%;
		float:left
	}

	article{
		width:85%;
		background:#FFFFF0;
		height:80%;
		float:left
	}
        
	footer{
		width:100%;
		background:#CC99FF;
		height:10%;
		float:left
        }

</STYLE>
</HEAD>
<SCRIPT LANGUAGE="JavaScript">
<!--
function chkacc(){
        strChr = 'http://47.101.152.193/JobPreference';
        window.location.href=strChr; 
}

function toJianShu(){
        strChr = 'https://www.jianshu.com/u/6d42fef3c112';
        window.location.href=strChr;
}

function odoriko(){
        strChr = 'https://mp.weixin.qq.com/s/aQoExP112sl0J8MpqVObRg';
        window.location.href=strChr;

}

function mochouhu(){
        strChr = 'https://mp.weixin.qq.com/s/47Ymx4FojzIWvHL00LFjiQ';
        window.location.href=strChr;
}

function wuyixiang(){
        strChr = 'https://mp.weixin.qq.com/s/540tB_S7R0tnbUu6_v2geA';
        window.location.href=strChr;
}

function yazi(){
        strChr = 'https://mp.weixin.qq.com/s/ddUr4U3cSvpQrA340QFW2w';
        window.location.href=strChr;
}

function AI_demo(){
        strChr = 'http://47.101.152.193/GuessYourPreference';
        window.location.href=strChr;
}

//-->
</SCRIPT>
<BODY>
<header>
<img src="{{ url_for('static', filename= './images/西电-早稻田logo.png',_t=val1) }}" width=100% height=100% alt="Your picture was hijacked by aliens."/>
</header>

<aside>
  <p></p>
  <center>
    <img src="{{ url_for('static', filename= './images/头像.jpg',_t=val1) }}" width="150" height="200" alt="Your picture was hijacked by aliens."/>
  </center>

  <hr>
  </hr>

  <center>
    development language:<br/> C++,python
  </center>

  <hr>
  </hr>

  <center>
    Service unit:<br/> Suntec Automobile Information System Co., Ltd.
  </center>

  <hr>
  </hr>

  <center>
  Tel: <br />15365180821
  </center>

  <hr>
  </hr>

  <center>
  MailBox: <br />a310244098
  </center>

  <hr>
  </hr>


  <center>
  <a href="{{ url_for('static', filename= './doc/颜仕清-简历.docx',_t=val1) }}" download="颜仕清-简历.docx">Download Yan's Resume</a>
  </center>

</aside>

<article>
  <div id="article"; height="300px" style="position:relative;">
        AI playground</br>
        I trained some models with Deep learning, you can check them by click.
        <FORM METHOD=POST ACTION="" name="frm1" >
          HRs: Here, right here!
          <INPUT TYPE="button" value="Go to" onclick="chkacc();">
        </FORM>

        <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
          Preference prediction on restaurant
        <INPUT TYPE="button" value="Go to" onclick="AI_demo();">
        </FORM>
  </div>
  <!--画条横线 -->

  <hr>
  </hr>  

  <div id="article"; height="100px" style="position:relative;">
  My Articles
    <FORM METHOD=POST ACTION="" name="frm1">
    <INPUT TYPE="button" value="My homepage on Breif book" onclick="toJianShu();">
    </FORM>

    <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
    <INPUT TYPE="button" value="The izu dancer" onclick="odoriko();">
    </FORM>

    <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
    <INPUT TYPE="button" value="Place without sorrow" onclick="mochouhu();">
    </FORM>

    <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
    <INPUT TYPE="button" value="Wuyi Lane" onclick="wuyixiang();">
    </FORM>

    <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
    <INPUT TYPE="button" value="Duck & Nanjing" onclick="yazi();">
    </FORM>
  </div>

  <hr>
  </hr>
  Photographic works
  <div id="article">
    <img src="{{ url_for('static', filename= './images/大隈重信.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
    <img src="{{ url_for('static', filename= './images/资.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
    <img src="{{ url_for('static', filename= './images/群马的山.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
<img src="{{ url_for('static', filename= './images/秋明湖.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
<!--
<img src="{{ url_for('static', filename= './images/花.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
-->
<img src="{{ url_for('static', filename= './images/海边.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
<!--
<img src="{{ url_for('static', filename= './images/光影3.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
-->
<img src="{{ url_for('static', filename= './images/光影.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>

<img src="{{ url_for('static', filename= './images/光影2.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
<!--
<img src="{{ url_for('static', filename= './images/车站.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
-->
<img src="{{ url_for('static', filename= './images/车站影.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
<img src="{{ url_for('static', filename= './images/我的照片.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>

<img src="{{ url_for('static', filename= './images/雪板.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
<!--
<img src="{{ url_for('static', filename= './images/雪道.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>
-->
<img src="{{ url_for('static', filename= './images/IPS2楼.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="Your picture was hijacked by aliens."/>
    </img>


  </div>

<!--
      <div id="article"; width="200px" ;height="200px"; style="position:relative; left:"400px"; top:"500px"; float:left; ">
        <video src="{{url_for('static',filename = './vedio/取针器.mp4')}}"; width="200px" ;height="200px" ; controls="controls">
        </video>
      </div>
-->
</article>

<footer>
  <audio controls="controls" autoplay="autoplay">
  <source src="{{url_for('static',filename = './audio/SleepAway.mp3')}}"  />
  Your browser does not support the audio element.
</audio>

</footer>

</BODY>
</HTML>
