<HTML>
<HEAD>
<TITLE>Yan's personal Website</TITLE>
<STYLE>
.div-inline{display:inline}
body{
		height:1000px;
	}
	header{
		width:100%;
		background:#33FFCC;
		height:10%
	}
	aside{
		width:15%;
		background:#00CCFF;
		height:80%;
		float:left
	}

	article{
		width:85%;
		background:#FFFFF0;
		height:80%;
		float:left
	}
        
	footer{
		width:100%;
		background:#CC99FF;
		height:10%;
		float:left
        }

</STYLE>
</HEAD>
<SCRIPT LANGUAGE="JavaScript">
<!--
function chkacc(){
        strChr = 'http://47.101.152.193/JobPreference';
        window.location.href=strChr; 
}

function toJianShu(){
        strChr = 'https://www.jianshu.com/u/6d42fef3c112';
        window.location.href=strChr;
}

function odoriko(){
        strChr = 'https://mp.weixin.qq.com/s/aQoExP112sl0J8MpqVObRg';
        window.location.href=strChr;

}

function mochouhu(){
        strChr = 'https://mp.weixin.qq.com/s/47Ymx4FojzIWvHL00LFjiQ';
        window.location.href=strChr;
}

function wuyixiang(){
        strChr = 'https://mp.weixin.qq.com/s/540tB_S7R0tnbUu6_v2geA';
        window.location.href=strChr;
}

function yazi(){
        strChr = 'https://mp.weixin.qq.com/s/ddUr4U3cSvpQrA340QFW2w';
        window.location.href=strChr;
}

function AI_demo(){
        strChr = 'http://47.101.152.193/GuessYourPreference';
        window.location.href=strChr;
}

function multiThread(){
        strChr = 'https://weibo.com/ttarticle/p/show?id=2309404245709514774486#_0';
        window.location.href=strChr;
}

function keywordVirtual(){
        strChr = 'https://weibo.com/ttarticle/p/show?id=2309404242073275507918#_0';
        window.location.href=strChr;
}

function singleLinkList(){
        strChr = 'https://weibo.com/ttarticle/p/show?id=2309404241056051891554#_0';
        window.location.href=strChr;
}

function techSaction(){
        strChr = 'https://www.jianshu.com/p/5086f527d999';
        window.location.href=strChr;
}

function inputNLP(){
        var text = document.getElementById("text").value;
        strChr = 'http://47.101.152.193/nlpText/'+text;
        window.location.href=strChr;

}

//-->
</SCRIPT>
<BODY>
<header>
<img src="{{ url_for('static', filename= './images/西电-早稻田logo.png',_t=val1) }}" width=100% height=100% alt="你的图片被外星人劫持了～～"/>
</header>

<aside>
  <p></p>
  <center>
    <img src="{{ url_for('static', filename= './images/头像.jpg',_t=val1) }}" width="150" height="200" alt="你的图片被外星人劫持了～～"/>
  </center>

  <hr>
  </hr>

  <center>
    开发语言: C++,python
  </center>

  <hr>
  </hr>

  <center>
    供职单位:<br/> 商泰汽车信息系统有限公司
  </center>

  <hr>
  </hr>

  <center>
  联系方式: <br />15365180821
  </center>

  <hr>
  </hr>

  <center>
  微信: <br />a310244098
  </center>

  <hr>
  </hr>


  <center>
    <a href="{{ url_for('static', filename= './doc/颜仕清-简历.docx',_t=val1) }}" download="颜仕清-简历.docx">下载我的简历</a>
  </center>
 
</aside>

<article>
  <div id="article"; height="300px" style="position:relative;">
        AI游乐场</br>
        我用深度学习训练了一些模型,你可以点击进行查看
        <FORM METHOD=POST ACTION="" name="frm1" >
          HR请看过来
          <INPUT TYPE="button" value="转到" onclick="chkacc();">
        </FORM>

        <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
          饭店偏好预测
        <INPUT TYPE="button" value="转到" onclick="AI_demo();">
        </FORM>
  </div>
  <!--画条横线 -->

  <hr>
  </hr>  

  <div id="article"; height="100px" style="position:relative;">
  我的文章
    <FORM METHOD=POST ACTION="" name="frm1">
    <INPUT TYPE="button" value="简书主页" onclick="toJianShu();">
    </FORM>
    
    <FORM METHOD=POST ACTION="" name="frm1">
    <INPUT TYPE="button" value="论科技制裁" onclick="techSaction();">
    </FORM>
    
    <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
    <INPUT TYPE="button" value="伊豆的舞女" onclick="odoriko();">
    </FORM>

    <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
    <INPUT TYPE="button" value="到此莫愁" onclick="mochouhu();">
    </FORM>

    <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
    <INPUT TYPE="button" value="乌衣巷" onclick="wuyixiang();">
    </FORM>

    <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
    <INPUT TYPE="button" value="南京鸭名吃" onclick="yazi();">
    </FORM>
    
  <hr>
  </hr>  
    
  <div id="tech_share"; height="100px" style="position:relative;">
  技术交流
    <FORM METHOD=POST ACTION="" name="frm1">
    <INPUT TYPE="button" value="多线程" onclick="multiThread();">
    </FORM>
    
    <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
    <INPUT TYPE="button" value="virtual关键字作用解析" onclick="keywordVirtual();">
    </FORM>
    
    <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
    <INPUT TYPE="button" value="单链表" onclick="singleLinkList();">
    </FORM>
    
    <FORM METHOD=POST ACTION="" name="frm1" class="div-inline">
    <INPUT TYPE="button" value="单链表" onclick="singleLinkList();">
    </FORM>
  </div>

  <hr>
  </hr>

<div id="communicate">
    <FORM METHOD=POST ACTION="" name="frm1">
        <input type="text" id="text" name="text">
        <input type="button" id="button" value="submit" onclick="inputNLP()">
    </FORM>
</div>
  <!--
  <div id="article">
  摄影作品
    <img src="{{ url_for('static', filename= './images/大隈重信.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人劫持了～～"/>
    </img>
    
    <img src="{{ url_for('static', filename= './images/资.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>
    <img src="{{ url_for('static', filename= './images/群马的山.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>
<img src="{{ url_for('static', filename= './images/秋明湖.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>
   
    
<img src="{{ url_for('static', filename= './images/海边.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>
-->
<!--
<img src="{{ url_for('static', filename= './images/光影3.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>
-->

<!--
<img src="{{ url_for('static', filename= './images/光影.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>

<img src="{{ url_for('static', filename= './images/光影2.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>

<img src="{{ url_for('static', filename= './images/车站.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>
-->
<!--
<img src="{{ url_for('static', filename= './images/车站影.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>
<img src="{{ url_for('static', filename= './images/我的照片.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>

<img src="{{ url_for('static', filename= './images/雪板.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>

<img src="{{ url_for('static', filename= './images/雪道.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>
-->
<!--
<img src="{{ url_for('static', filename= './images/IPS2楼.jpg',_t=val1) }}"; width=200px ;height=200px ; alt="你的图片被外星>人
劫持了～～"/>
    </img>


  </div>
  
      <div id="article"; width="200px" ;height="200px"; style="position:relative; left:"400px"; top:"500px"; float:left; ">
        <video src="{{url_for('static',filename = './vedio/取针器.mp4')}}"; width="200px" ;height="200px" ; controls="controls">
        </video>
      </div>
-->


</article>

<footer>
  <audio controls="controls" autoplay="autoplay">
  <source src="{{url_for('static',filename = './audio/SleepAway.mp3')}}"  />
  Your browser does not support the audio element.
</audio>

</footer>

</BODY>
</HTML>
