<HTML>
<HEAD>
<TITLE>Yan's AI playground</TITLE>
</HEAD>
<SCRIPT LANGUAGE="JavaScript">
<!--
function chkacc(){
        strChr = 'http://47.101.152.193/JobPreference';
        window.location.href=strChr; 
}

function toJianShu(){
        strChr = 'https://www.jianshu.com/u/6d42fef3c112';
        window.location.href=strChr;
}

function odoriko(){
        strChr = 'https://mp.weixin.qq.com/s/aQoExP112sl0J8MpqVObRg';
        window.location.href=strChr;

}

function mochouhu(){
        strChr = 'https://mp.weixin.qq.com/s/47Ymx4FojzIWvHL00LFjiQ';
        window.location.href=strChr;
}

function wuyixiang(){
        strChr = 'https://mp.weixin.qq.com/s/540tB_S7R0tnbUu6_v2geA';
        window.location.href=strChr;
}

function yazi(){
        strChr = 'https://mp.weixin.qq.com/s/ddUr4U3cSvpQrA340QFW2w';
        window.location.href=strChr;
}

function AI_demo(){
        strChr = 'http://47.101.152.193/GuessYourPreference';
        window.location.href=strChr;
}

//-->
</SCRIPT>
<BODY>
<div id="1">我是颜仕清</div>
<p>
</p>

<p></p>

  <img src="{{ url_for('static', filename= './images/头像.jpg',_t=val1) }}" width="150" height="200" alt="你的图片被外星人劫持了～～"/>

<FORM METHOD=POST ACTION="" name="frm1">
职业偏好
<INPUT TYPE="button" value="查看" onclick="chkacc();">
</FORM>

<FORM METHOD=POST ACTION="" name="frm1">
AI demo
<INPUT TYPE="button" value="查看" onclick="AI_demo();">
</FORM>



<div id="1">我的文章</div>
<FORM METHOD=POST ACTION="" name="frm1">
<INPUT TYPE="button" value="简书主页" onclick="toJianShu();">
</FORM>

<FORM METHOD=POST ACTION="" name="frm1">
<INPUT TYPE="button" value="伊豆的舞女" onclick="odoriko();">
</FORM>

<FORM METHOD=POST ACTION="" name="frm1">
<INPUT TYPE="button" value="到此莫愁" onclick="mochouhu();">
</FORM>

<FORM METHOD=POST ACTION="" name="frm1">
<INPUT TYPE="button" value="乌衣巷" onclick="wuyixiang();">
</FORM>

<FORM METHOD=POST ACTION="" name="frm1">
<INPUT TYPE="button" value="南京鸭名吃" onclick="yazi();">
</FORM>



</BODY>
</HTML>
