<HTML>
<HEAD>
<TITLE>Yan's AI playground</TITLE>
</HEAD>
<SCRIPT LANGUAGE="JavaScript">
<!--
function chkacc(){
        strChr = 'http://47.101.152.193/';
	if(document.getElementById("city").value=='上海'){
		strChr = strChr + '0';
	}else if(document.getElementById("city").value=='南京'){
                strChr = strChr + '1';
        }else if(document.getElementById("city").value=='日本'){
                strChr = strChr + '2';
        }else if(document.getElementById("city").value=='其他地点'){
                strChr = strChr + '3';
        }

        if(document.getElementById("job content").value=='技术研究员'){
                strChr = strChr + '0';
        }else if(document.getElementById("job content").value=='C++程序员'){
                strChr = strChr + '1';
        }else if(document.getElementById("job content").value=='产品经理'){
                strChr = strChr + '2';
        }else if(document.getElementById("job content").value=='其他职位'){
                strChr = strChr + '3';
        }

        if(document.getElementById("working hours").value=='996'){
                strChr = strChr + '0';
        }else if(document.getElementById("working hours").value=='995'){
                strChr = strChr + '1';
        }else if(document.getElementById("working hours").value=='965'){
                strChr = strChr + '2';
        }

        if(document.getElementById("salary").value=='0-10000'){
                strChr = strChr + '0';
        }else if(document.getElementById("salary").value=='10000-15000'){
                strChr = strChr + '1';
        }else if(document.getElementById("salary").value=='15000-25000'){
                strChr = strChr + '2';
        }else if(document.getElementById("salary").value=='25000-30000'){
                strChr = strChr + '3';
        }

        if(document.getElementById("job category").value=='否'){
                strChr = strChr + '0';
        }else if(document.getElementById("job category").value=='是'){
                strChr = strChr + '1';
        }
 
        if(document.getElementById("location").value=='CBD'){
                strChr = strChr + '0';
        }else if(document.getElementById("location").value=='软件园'){
                strChr = strChr + '1';
        }else if(document.getElementById("location").value=='繁华街区'){
                strChr = strChr + '2';
        }else if(document.getElementById("location").value=='偏远'){
                strChr = strChr + '3';
        }

        if(document.getElementById("size").value=='上市公司'){
                strChr = strChr + '0';
        }else if(document.getElementById("size").value=='大公司500人+'){
                strChr = strChr + '1';
        }else if(document.getElementById("size").value=='小公司50-500人'){
                strChr = strChr + '2';
        }else if(document.getElementById("size").value=='创业公司'){
                strChr = strChr + '3';
        }
        window.location.href=strChr; 
}
//-->
</SCRIPT>
<BODY>
<div id="1">你好尊敬的HR，我是颜仕清</div>
<p>
</p>
<div id="2">您对我的简历感兴趣，为此我很荣幸</div>
<div id="3">请您选择您提供的职位条件后，点击提交按钮</div>
<div id="4">本网站会将我对该条件的想法反馈给您</div>
<div id="5">她尚不成熟，也可能会有失误，请多多包涵</div>
<p></p>
<FORM METHOD=POST ACTION="" name="frm1">
<div class="select_style">
  工作地点:  
  <select id="city" name="工作地点">
    <optgroup label="工作地点">   
    <option>上海</option> 
    <option selected>南京</option> 
    <option>日本</option> 
    <option>其他地点</option> 
  </select> 
</div>
<div class="select_style">
  工作内容: 
  <select id="job content" name="工作内容">
    <optgroup label="工作内容">
    <option>技术研究员</option>
    <option selected>C++程序员</option>
    <option>产品经理</option>
    <option>其他职位</option>
  </select>
</div>

<div class="select_style">
  工作时长: 
  <select id="working hours" name="工作时长">
    <optgroup label="工作时长">
    <option selected>965</option>
    <option>995</option>
    <option>996</option>
  </select>
</div>

<div class="select_style">
  薪资待遇: 
  <select id="salary" name="薪资待遇">
    <optgroup label="薪资待遇">
    <option>0-10000</option>
    <option>10000-15000</option>
    <option selected>15000-25000</option>
    <option>25000-30000</option>
  </select>
</div>
 
<div class="select_style">
  是否为外包: 
  <select id="job category" name="工作性质">
    <optgroup label="工作性质">
    <option>是</option>
    <option selected>否</option>
  </select>
</div>

<div class="select_style">
  公司位置: 
  <select id="location" name="公司位置">
    <optgroup label="公司位置">
    <option>CBD</option>
    <option selected>软件园</option>
    <option>繁华街区</option>
    <option>偏远</option>
  </select>
</div>

<div class="select_style">
  公司规模: 
  <select id="size" name="公司规模">
    <optgroup label="公司规模">
    <option>上市公司</option>
    <option selected>大公司500人+</option>
    <option>小公司50-500人</option>
    <option>创业公司</option>
  </select>
</div>

<INPUT TYPE="button" value="提交" onclick="chkacc();">
</FORM>
</BODY>
</HTML>
